.containerRoot {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.container {
  align-items: center;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-evenly;
  width: 30%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.input {
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
  height: 30px;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  width: 100%;
}

.button {
  background-color: var(--blue);
  border-radius: 0.2rem;
  color: var(--light-gray);
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  width: 100%;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

