.container {
  align-items: center;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-evenly;
  width: 30%;
}

.containerTitleImage {
  align-items: baseline;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 80%;
}

.image {
  background-color: var(--light-blue);
  border-radius: 0.5rem;
}

.title , .title2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.title {
  color: var(--blue);
  font-weight: 200;
}

.title2 {
  color: var(--light-green);
  font-weight: 900;

}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 80%;

}

.input {
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
  height: 30px;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  width: 100%;
}

.button {
  background-color: var(--blue);
  border-radius: 0.2rem;
  color: var(--light-gray);
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  width: 100%;
}

.button:disabled {
  background-color: rgb(95, 95, 180);
}

