.container {
  align-items: baseline;
  background-color: var(--white);
  box-shadow: -4px 9px 13px 0 rgba(5, 18, 54, 0.41);
  display: flex;
  height: 15rem;
  justify-content: space-around;
  padding-top: 3rem;
  width: 90%;
}

.expensesBox , .userBox {
  align-items: center;
  display: flex;
}

.expensesImage , .totalExpenses , .userImage {
  margin-right: 0.5rem;
}

.totalExpenses {
  color: var(--blue);
  font-weight: 700;
}

.totalExpensesValue , .totalExpensesCurrency {
  color: var(--blue);

}

.userEmail {
  color: var(--light-green);
}
