.tableContainer {
  background-color: var(--blue);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
  position: absolute;
  width: 95%;
  z-index: 1;
}

.table , .notExpenses {
  margin-top: 19rem;
  width: 100%;
}

.notExpenses {
  color: var(--light-green);
  text-align: center;
}

.tableHead , .tableInfo {
  border-bottom: 2px solid var(--light-gray);
  border-right: 2px solid var(--light-gray);
  padding: 0.2rem;
  text-align: center;
  width: 14rem;
}

.tableHead , .tableHeadEditarExcluir {
  color: var(--white);
}

.tableInfo , .tableInfoDescription {
  color: var(--light-green);
}

.tableInfoEditarExcluir , .tableInfoDescription , .tableHead , .tableInfo {
  height: 4rem;
  width: 12rem;
}

.btn {
  background-color: transparent;
  width: 40%;
}

.tableInfoDescription {
  border-bottom: 2px solid var(--light-gray);
  border-right: 2px solid var(--light-gray);
  padding: 0.2rem;
  text-align: center;
}

.tableHeadEditarExcluir {
  border-bottom: 2px solid var(--light-gray);
}

.tableInfoEditarExcluir {
  border-bottom: 2px solid var(--light-gray);
  padding: 0.2rem;
  text-align: center;
}

.imageEdit {
  width: 30%;
}

.imageDelete {
  width: 21%;
}
